.card {
    position: relative;
}

.card img {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 6px;
}

.card .front {
    transform: rotateY(90deg);
    position: absolute;
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: purple;
    transition: all ease-in-out 0.2s;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back{
    margin: 0;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay:0s;
}